<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
			<!--连接采用TCP模式，这里我已经定义好了，无需更改，监听地址是： net.tcp://localhost:51888/Service/  -->
            <service name="Server.Service">
                <endpoint address="net.tcp://localhost:51888/Service/" binding="netTcpBinding" contract="Server.IService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Service/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>