<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Server.Service">
                <endpoint address="net.tcp://localhost:51888/Service/" binding="netTcpBinding"
                    contract="Server.IService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Service/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Server.LoginService">
                <endpoint address="net.tcp://localhost:51888/LoginServiceService/"
                    binding="netTcpBinding" contract="Server.ILoginService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/LoginServiceService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Server.CheckinServer">
              <endpoint address="net.tcp://localhost:51888/CheckinServiceService/"
                   binding="netTcpBinding" contract="Server.ICheckinServer">
                <identity>
                  <dns value="localhost" />
                </identity>
              </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/CheckinServer/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
<connectionStrings><add name="MyDbEntities" connectionString="metadata=res://*/MyDb.csdl|res://*/MyDb.ssdl|res://*/MyDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\MyDb.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>